.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-container {
  width: 769px;
  height: 299.26px;
  background: #ffffff;
  border-radius: 6px;
  position: relative;
  padding: 40px 50px;
  box-sizing: border-box;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.popup-close svg {
  width: 22px;
  height: 22px;
}

.popup-content {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
}

.popup-image {
  width: 50%;
}

.popup-image img {
  width: 247px;
  height: 192px;
  object-fit: contain;
}

.popup-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: #3f3f40;
  font-family: "Poppins", sans-serif;
}

.popup-info h2,
.popup-info h3 {
  margin: 0;
}

.popup-info h2 {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 5%;
  line-height: 100%;
}

.popup-info h3 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 5%;
  line-height: 100%;
}

.popup-header {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.popup-description {
  font-family: "Work Sans", sans-serif;
  font-size: 10px;
  color: #9f9f9f;
  width: 290px;
  margin: 0;
  line-height: 150, 5%;
  letter-spacing: 5%;
}

.popup-link {
  font-family: "Work Sans", sans-serif;
  font-size: 11px;
  color: #3442b5;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
}

.popup-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 110px;
  height: 36px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background: #ffffff;
  overflow: hidden;
}

.quantity button {
  width: 36px;
  height: 100%;
  border: none;
  background: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.quantity span {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
}

.btn-buy {
  font-family: "Poppins", sans-serif;
  background: #ffcc00;
  color: #271c47;
  border: none;
  width: 186px;
  height: 36px;
  padding: 0 30px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}
