.hero-banner {
  width: 100%;
  height: 390px;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  position: relative;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.45) 30%,
    rgba(0, 0, 0, 0.15) 60%,
    rgba(0, 0, 0, 0) 75%
  );
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 1280px;
  margin: 50px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 16px;
}

.hero-content p {
  font-size: 32px;
  margin-bottom: 40px;
  margin-top: 0px;
}

.hero-content p strong {
  color: #f7ca11;
  font-weight: bold;
}

.hero-button {
  font-family: "Poppins", sans-serif;
  height: 50px;
  width: 206px;
  padding: 15px 24px;
  font-size: 16px;
  background: #f7ca11;
  color: #271c47;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.hero-button:hover {
  opacity: 0.9;
}
