.navbar-categorias {
  background: #fff;
  height: 40px;
}

.navbar-categorias .header-container {
  justify-content: space-evenly;
  height: 100%;
}

.navbar-categorias a {
  font-size: 12px;
  font-weight: 600;
  color: #9f9f9f;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-categorias a:hover {
  color: #3019b2;
  cursor: pointer;
}

.navbar-categorias a.active {
  color: #3019b2;
  font-weight: 600;
}

.navbar-categorias a.assinatura {
  display: flex;
  align-items: center;
  width: 108px;
  gap: 8px;
}

.navbar-categorias a.assinatura svg {
  font-size: 20px;
  color: #9f9f9f;
  position: relative;
  top: -1px;
}
